<%- include('../includes/header.ejs') %>
<%- include('../includes/navbar.ejs') %>

<h2>User Profile</h2>
<hp>Welcome, <%= user.username %>!</p>
<p>Role: <%= user.role %></p>
<h6>Join at: <%= user.created_at %></h6>

